@model BodyViewModel

@{
    var currentYear = DateTime.Today.Year;
}


<footer>
    <div class="footer-container">
        <div class="footer-top">
            <div class="footer-top__col">
                <a href='/' class='footer-logo-link'>
                    <img src="~/common/images/main-logo-boi-footer.svg" alt="Bank of Ireland for Intermediaries">
                </a>
            </div>
            @if (Model.SiteRoot.Column1HeadingLink != null)
            {
                <div class="footer-top__col">
                    <ul>
                        <li class="blue-subheader">
                            <h2>
                                @if (string.Equals(Model.SiteRoot.Column1HeadingLink.Url, "#", StringComparison.InvariantCultureIgnoreCase))
                                {
                                    <span>
                                        @(Model.SiteRoot.Column1HeadingLink != null ? Model.SiteRoot.Column1HeadingLink.Name : "")
                                    </span>
                                }
                                else
                                {
                                    <a href="@(Model.SiteRoot.Column1HeadingLink.Url.IsNullOrWhiteSpace() ? "" : Model.SiteRoot.Column1HeadingLink.Url)">
                                        @(Model.SiteRoot.Column1HeadingLink != null ? Model.SiteRoot.Column1HeadingLink.Name : "")
                                    </a>
                                }
                            </h2>
                        </li>
                        @foreach (var footerItem in Model.SiteRoot.Column1Links)
                        {
                            <li><a href="@footerItem.Url">@footerItem.Name</a></li>
                        }
                    </ul>
                </div>
            }
            @if (Model.SiteRoot.Column2HeadingLink != null)
            {
                <div class="footer-top__col">
                    <ul>
                        <li class="blue-subheader">
                            <h2>
                                @if (string.Equals(Model.SiteRoot.Column2HeadingLink.Url, "#", StringComparison.InvariantCultureIgnoreCase))
                                {
                                    <span>
                                        @(Model.SiteRoot.Column2HeadingLink != null ? Model.SiteRoot.Column2HeadingLink.Name : "")
                                    </span>
                                }
                                else
                                {
                                    <a href="@(Model.SiteRoot.Column2HeadingLink.Url.IsNullOrWhiteSpace() ? "" : Model.SiteRoot.Column2HeadingLink.Url)">
                                        @(Model.SiteRoot.Column2HeadingLink != null ? Model.SiteRoot.Column2HeadingLink.Name : "")
                                    </a>
                                }
                            </h2>
                        </li>
                        @foreach (var footerItem in Model.SiteRoot.Column2Links)
                        {
                            <li><a href="@footerItem.Url">@footerItem.Name</a></li>
                        }
                    </ul>
                </div>
            }
            @if (Model.SiteRoot.Column3HeadingLink != null)
            {
                <div class="footer-top__col">
                    <ul>
                        <li class="blue-subheader">
                            <h2>
                                @if (string.Equals(Model.SiteRoot.Column3HeadingLink.Url, "#", StringComparison.InvariantCultureIgnoreCase))
                                {
                                    <span>
                                        @(Model.SiteRoot.Column3HeadingLink != null ? Model.SiteRoot.Column3HeadingLink.Name : "")
                                    </span>
                                }
                                else
                                {
                                    <a href="@(Model.SiteRoot.Column3HeadingLink.Url.IsNullOrWhiteSpace() ? "" : Model.SiteRoot.Column3HeadingLink.Url)">
                                        @(Model.SiteRoot.Column3HeadingLink != null ? Model.SiteRoot.Column3HeadingLink.Name : "")
                                    </a>
                                }
                            </h2>
                        </li>
                        @foreach (var footerItem in Model.SiteRoot.Column3Links)
                        {
                            <li><a href="@footerItem.Url">@footerItem.Name</a></li>
                        }
                    </ul>
                </div>
            }
            @if (Model.SiteRoot.Column4HeadingLink != null)
            {
                <div class="footer-top__col">
                    <ul>
                        <li class="blue-subheader">
                            <h2>
                                @if (string.Equals(Model.SiteRoot.Column4HeadingLink.Url, "#", StringComparison.InvariantCultureIgnoreCase))
                                {
                                    <span>
                                        @(Model.SiteRoot.Column4HeadingLink != null ? Model.SiteRoot.Column4HeadingLink.Name : "")
                                    </span>
                                }
                                else
                                {
                                    <a href="@(Model.SiteRoot.Column4HeadingLink.Url.IsNullOrWhiteSpace() ? "" : Model.SiteRoot.Column4HeadingLink.Url)">
                                        @(Model.SiteRoot.Column4HeadingLink != null ? Model.SiteRoot.Column4HeadingLink.Name : "")
                                    </a>
                                }
                            </h2>
                        </li>
                        @foreach (var footerItem in Model.SiteRoot.Column4Links)
                        {
                            <li><a href="@footerItem.Url">@footerItem.Name</a></li>
                        }
                    </ul>
                </div>
            }
        </div>

        <div class="footer-bottom">
            <div class="footer-bottom__text">
                <div class="flex-container">
                    <div class="left-content">
                        <p class="blue-subheader"><img alt='Alert Icon' src="~/common/images/icons/icon-alert.svg">Intermediary use only</p>
                    </div>
                    <div class="right-content">

                        @if (Model.SiteRoot.LinkedInLink != null)
                        {
                            <a href="@Model.SiteRoot.LinkedInLink.Url" target="@Model.SiteRoot.LinkedInLink.Target" title="LinkedIn">
                                <svg class="[ icon linkedin ]" aria-hidden="true">
                                    <use xlink:href="#sprite-linkedin"></use>
                                </svg>
                            </a>
                        }
                    </div>
                </div>

                @Model.SiteRoot.FooterText
            </div>

            <ul class="footer-bottom__links">
                <li class="footer-bottom__links--bold">&copy; <a href="@(Model.SiteRoot.CopyrightLink != null ? Model.SiteRoot.CopyrightLink.Url : "")">@currentYear Bank of Ireland</a></li>
                @foreach (var link in Model.SiteRoot.BottomLinks)
                {
                    <li><a href="@link.Url">@link.Name</a></li>
                }
            </ul>
        </div>
    </div>
</footer>
