@inherits UmbracoViewPage<NewsLandingResultsViewModel>

<div id="news-results">
    @if (Model.Results != null)
    {
        <div class="">

            @if (Model.Results.QueryResults != null && Model.Results.QueryResults.Any())
            {
                <div class="news-article-block">

                    @foreach (var result in Model.Results.QueryResults)
                    {
                        <div class="news-article-block-item">
                            @* TODO: T185736. Add new image field *@
                            <div class="news-article-block-item__image">
                                <img src="https://picsum.photos/320/180" alt="" loading="lazy" width="320" height="180" />
                            </div>

                            @if (!string.IsNullOrEmpty(result.ArticleUrl))
                            {
                                <h3 class="news-article-block-item__title"><a href="@result.ArticleUrl">@result.ArticleName</a></h3>
                            } else 
                            {
                                <p class="news-article-block-item__title">@result.ArticleName</p>
                            }

                            @*<p class="title -blue-text">@result.ArticleName</p>*@
                            <p>@result.ArticleListingSummary</p>
                        </div>
                    }
                </div>

                if (Model.Paging.HasPages)
                {
                    <partial name="/Views/partials/SearchResult/Pagination.cshtml" model="Model.Paging" />
                }
            }
            else
            {
                <div class="product-table-caption">
                    <span class="h5 product-table-caption__title">@Model.NoResultMessage</span>
                </div>
            }
        </div>
    }
</div>