@inherits UmbracoViewPage<NewsLandingResultsViewModel>

<div id="news-results">
    @if (Model.Results != null)
    {
        <div class="">

            @if (Model.Results.QueryResults != null && Model.Results.QueryResults.Any())
            {
                <div class="news-article-block">

                    @foreach (var result in Model.Results.QueryResults)
                    {
                        <div class="news-article-block-item">

                            @if (!string.IsNullOrEmpty(result.ArticleUrl))
                            {
                                <div class="news-article-block-item__image">
                                    <a href="@result.ArticleUrl"><img src="@result.ArticleImage.GetCropUrl(width:320, height:180)" alt="" loading="lazy" width="320" height="180" /></a>
                                </div>

                                <h3 class="news-article-block-item__title"><a href="@result.ArticleUrl">@result.ArticleName</a></h3>
                            } 
                            else 
                            {
                                <div class="news-article-block-item__image">
                                    <img src="@result.ArticleImage.GetCropUrl(width:320, height:180)" alt="" loading="lazy" width="320" height="180" />
                                </div>
                                <h3 class="news-article-block-item__title">@result.ArticleName</h3>
                            }
                            <p>@result.ArticleListingSummary</p>
                        </div>
                    }
                </div>

                if (Model.Paging.HasPages)
                {
                    <partial name="/Views/partials/SearchResult/Pagination.cshtml" model="Model.Paging" />
                }
            }
            else
            {
                <div class="product-table-caption">
                    <span class="h5 product-table-caption__title">@Model.NoResultMessage</span>
                </div>
            }
        </div>
    }
</div>