@inherits UmbracoViewPage<QuickLinks>
@if ((Model?.QuickLink.NullOrEmpty()).GetValueOrDefault())
{
    return;
}
<div class="hero-area-quick-links">
    <h2 class="hero-area-quick-links__title">Quick Links</h2>
    <ul class="hero-area-quick-links__list">
        @foreach (var link in Model.QuickLink)
        {
            var linkContent = (QuickLinkItem)link.Content;
            if(linkContent == null)
            {
                continue;
            }
            <li>
                @* TODO: Need to add BE field for CMS user to add an icon *@
                @if (linkContent.QuickLinkIcon != null)
                {
                    <div class="hero-area-quick-links__list-icon-wrap">
                        <img src="@linkContent.QuickLinkIcon.Url()" alt="@linkContent.QuickLinkIcon.GetImageAlternativeText()" />
                    </div>
                }
                @if ((linkContent.QuickLink?.Url.HasValue()).GetValueOrDefault())
                {
                    <a href="@linkContent.QuickLink.Url" target="@linkContent.QuickLink.Target">@linkContent.QuickLink.Name</a>
                }
            </li>
        }
    </ul>
</div>