@inherits UmbracoViewPage<QuickLinks>
@if ((Model?.QuickLink.NullOrEmpty()).GetValueOrDefault())
{
    return;
}
<div class="hero-area-quick-links">
    <ul class="hero-area-quick-links__list">
        @foreach (var link in Model.QuickLink)
        {
            var linkContent = (QuickLinkItem)link.Content;
            if(linkContent == null)
            {
                continue;
            }
            <li>
                @if ((linkContent.QuickLink?.Url.HasValue()).GetValueOrDefault())
                {
                    <a href="@linkContent.QuickLink.Url" target="@linkContent.QuickLink.Target" title="@linkContent.QuickLink.Name"></a>
                }
                @* TODO: Need to add BE field for CMS user to add an icon *@
                @if (linkContent.QuickLinkIcon != null)
                {
                    <div class="hero-area-quick-links__list-icon-wrap">
                        <img src="@linkContent.QuickLinkIcon.Url()" alt="@linkContent.QuickLinkIcon.GetImageAlternativeText()" />
                    </div>
                }
                <div>
                    <span class="hero-area-quick-links__list-title">@linkContent.QuickLink.Name</span>
                    @*<span  class="hero-area-quick-links__list-text">@linkContent.Text</span>*@
                    <span  class="hero-area-quick-links__list-text">Get an instant estimate of how much your client could borrow.</span>
                </div>
            </li>
        }
    </ul>
</div>