@inherits UmbracoViewPage<ServiceLevelItemPodRender>

@{
    if ((Model?.ServiceItems.NullOrEmpty()).GetValueOrDefault())
    {
        return;
    }

    <div class="service-levels-pod">
        <h2>@Model.Title</h2>
        <p>@Model.SubText</p>

        <ul class="child-page-block-item__inner-list">
            @foreach (var serviceItem in Model.ServiceItems.OfType<ServiceLevelItem>())
            {
                if(serviceItem == null)
                {
                    continue;
                }
                var serviceSubText = serviceItem.ServiceDate == DateTime.MinValue ? serviceItem.ServiceSubtitle : serviceItem.ServiceDate.ToString("ddd dd MMM yyyy");
                <li>
                    @if (serviceItem.ServiceIcon != null)
                    {
                        <div class="child-page-block-item__inner-list-icon">
                            <img data-object-fit="cover"
                                src="@serviceItem.ServiceIcon.Url()"
                                alt="@serviceItem.ServiceIcon.GetImageAlternativeText()" />
                        </div>
                    }
                    <div class="service-levels-pod-item__copy">
                        <span>@serviceItem.ServiceTitle</span>
                        <time class="service-levels-pod-item__time" datetime="@serviceItem.ServiceDate.ToString("yyyy-MM-dd")">
                            <svg class="[ icon icon-clock -text-grey ]" aria-hidden="true">
                                <use xlink:href="#sprite-icon-clock"></use>
                            </svg>
                            @serviceSubText
                        </time>   
                    </div>
                </li>
            }
        </ul>

        @if( (Model.CTalink?.Url.HasValue()).GetValueOrDefault())
        {
            <a href="@Model.CTalink.Url" target="@Model.CTalink.Target" aria-label="@Model.Title - @Model.CTalink.Name">@Model.CTalink.Name</a>
        }
    </div>
}