@inherits UmbracoViewPage<Error>
@{
	Layout = "/Views/Shared/_Layout.cshtml";
	Context.Response.StatusCode = Model.StatusCode;
}

<section class="hero-area error-container">
	<partial name="~/Views/Shared/Breadcrumb.cshtml" />

	<div class="umb-block-list">
		<div class="rich-text">

			@if (Model.ErrorContent != null)
			{
				@Model.ErrorContent
			}

			@if (Model.RedirectCta != null)
			{
				<a href="@Model.RedirectCta.Url" target="@Model.RedirectCta.Target" title="@Model.RedirectCta.Name" class="button error-redirect-cta">
					<span>@Model.RedirectCta.Name</span>
				</a>
			}
		</div>
	</div>
</section>
@section Scripts {
	<script type="text/javascript" src="/assets/dist/js/content.bundle.js" asp-append-version="true"></script>
}