@inherits UmbracoViewPage<IChildPageBlock>
@{
   
    if ((Model?.ChildPages.NullOrEmpty()).GetValueOrDefault())
    {
        return;
    }

   
        <div class="child-page-block">
            @if (!Model.Title.NullOrEmpty())
            {
                <h3 class="child-page-block__title">@Model.Title</h3>
            }

            <div class="child-page-block-listing">
                @foreach (var childPage in Model.ChildPages.OfType<BlockListItem<ChildPageItem>>())
                {
                    var childPageItem = (ChildPageItem)childPage?.Content;
                    if(childPageItem == null)
                    { continue; }

                    <div class="child-page-block-item">
                        @if (childPageItem.ChildIcon != null)
                        {

                        var useIllustration = childPageItem.Value<bool>("useIllustration");
                            var iconWrapperClass = useIllustration ? "child-page-block-item__icon-wrapper -is-illustration" : "child-page-block-item__icon-wrapper";
                            
                            <div class="@iconWrapperClass">
                            <p>Test @(childPageItem.Value<bool>("useIllustration"))</p>
                                 <img data-object-fit="cover"
                                    src="@childPageItem.ChildIcon.Url()"
                                    alt="@childPageItem.ChildIcon.GetImageAlternativeText()" />
                            </div>
                        }

                        <div class="child-page-block-item__content">
                            <h2 class="child-page-block-item__title">
                                @{
                                    var title = childPageItem.ChildTitle.ToString().StripHTMLPTags();
                                }
                                @Html.Raw(title)
                            </h2>
                            <div class="rich-text">
                                @Html.Raw(childPageItem.ChildSubText)

                                @* TODO: T177668 - Not sure whether this will be made into a new field. 
                                 * At the moment the below is just added straight into the RTE field.
                                <ul class="child-page-block-item__inner-list">
                                    <li>
                                        <div class="child-page-block-item__inner-list-icon">
                                            <img src="" alt="" role="presentation" />
                                        </div>
                                        <span>Holistic assessment</span>
                                    </li>
                                    <li>
                                        <div class="child-page-block-item__inner-list-icon">
                                            <img src="" alt="" role="presentation" />
                                        </div>
                                        <span>Contractors</span>
                                    </li>
                                    <li>
                                        <div class="child-page-block-item__inner-list-icon">
                                            <img src="" alt="" role="presentation" />
                                        </div>
                                        <span>Self employed</span>
                                    </li>
                                    <li>
                                        <div class="child-page-block-item__inner-list-icon">
                                            <img src="" alt="" role="presentation" />
                                        </div>
                                        <span>Employed</span>
                                    </li>
                                </ul>
                                *@
                            </div>

                            @if ((childPageItem.CTalink?.Url.HasValue()).GetValueOrDefault())
                            {
                                <a href="@childPageItem.CTalink.Url" target="@childPageItem.CTalink.Target" class="child-page-block-item__cta">
                                    <span>@childPageItem.CTalink.Name</span>
                                </a>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
}
