@model HeadViewModel

@if (!Model.IsCalculatorLayout)
{
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="63e5568e-57d0-4b35-a585-c153ce63def8" data-blockingmode="auto" type="text/javascript"></script>
    <link rel="preload" as="font" href="/common/fonts/BankofIrelandSerif-Rg.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/common/fonts/BankofIrelandSerif-Bd.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="stylesheet" href="/common/css/first-paint.css" asp-append-version="true" />

}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="@(!string.IsNullOrEmpty(Model.SeoElement?.MetaDescription) ? Model.SeoElement?.MetaDescription : $"{Model.Content.Name} | Bank of Ireland for Intermediaries ")" />

<title>@(string.Concat((!string.IsNullOrEmpty(Model.SeoElement?.MetaTitle) ? Model.SeoElement.MetaTitle : Model.Content.Name), " | Bank of Ireland for Intermediaries "))</title>
<link rel="canonical" href="@(!string.IsNullOrEmpty(Model.SeoElement?.CanonicalUrl) ? Model.SeoElement?.CanonicalUrl : Model.Content.Url(mode: UrlMode.Absolute))" />

@if (!Model.IsCalculatorLayout)
{
    <partial name="ShareCardMetaData" model="Model" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload"
          href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
          as="style" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
          media="print" onload="this.media='all'" />
}

<link rel="apple-touch-icon-precomposed" sizes="57x57" href="/common/images/icons/favicon/apple-touch-icon-57x57.png?v=IWE4SXqx4i" />
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/common/images/icons/favicon/apple-touch-icon-114x114.png?v=IWE4SXqx4i" />
<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/common/images/icons/favicon/apple-touch-icon-72x72.png?v=IWE4SXqx4i" />
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/common/images/icons/favicon/apple-touch-icon-144x144.png?v=IWE4SXqx4i" />
<link rel="apple-touch-icon-precomposed" sizes="60x60" href="/common/images/icons/favicon/apple-touch-icon-60x60.png?v=IWE4SXqx4i" />
<link rel="apple-touch-icon-precomposed" sizes="120x120" href="/common/images/icons/favicon/apple-touch-icon-120x120.png?v=IWE4SXqx4i" />
<link rel="apple-touch-icon-precomposed" sizes="76x76" href="/common/images/icons/favicon/apple-touch-icon-76x76.png?v=IWE4SXqx4i" />
<link rel="apple-touch-icon-precomposed" sizes="152x152" href="/common/images/icons/favicon/apple-touch-icon-152x152.png?v=IWE4SXqx4i" />
<link rel="icon" type="image/png" href="/common/images/icons/favicon/favicon-196x196.png?v=IWE4SXqx4i" sizes="196x196" />
<link rel="icon" type="image/png" href="/common/images/icons/favicon/favicon-96x96.png?v=IWE4SXqx4i" sizes="96x96" />
<link rel="icon" type="image/png" href="/common/images/icons/favicon/favicon-32x32.png?v=IWE4SXqx4i" sizes="32x32" />
<link rel="icon" type="image/png" href="/common/images/icons/favicon/favicon-16x16.png?v=IWE4SXqx4i" sizes="16x16" />
<link rel="icon" type="image/png" href="/common/images/icons/favicon/favicon-128.png?v=IWE4SXqx4i" sizes="128x128" />
<link rel="shortcut icon" href="/common/images/icons/favicon/favicon.ico?v=JyBJRgA0Ag" type="image/x-icon">
<meta name="msapplication-TileImage" content="/common/images/icons/favicon/mstile-144x144.png?v=IWE4SXqx4i" />
<meta name="msapplication-square70x70logo" content="/common/images/icons/favicon/mstile-70x70.png?v=IWE4SXqx4i" />
<meta name="msapplication-square150x150logo" content="/common/images/icons/favicon/mstile-150x150.png?v=IWE4SXqx4i" />
<meta name="msapplication-wide310x150logo" content="/common/images/icons/favicon/mstile-310x150.png?v=IWE4SXqx4i" />
<meta name="msapplication-square310x310logo" content="/common/images/icons/favicon/mstile-310x310.png?v=IWE4SXqx4i" />

<link rel="manifest" href="/common/images/icons/favicon/manifest.json?v=IWE4SXqx4i">
<meta name="application-name" content="Bank of Ireland for Intermediaries" />
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta name="theme-color" content="#FFFFFF">

@if (Model.IsCalculatorLayout)
{
    <link type="text/css" rel="stylesheet" href="https://fast.fonts.net/cssapi/13ba0f51-771e-4335-8b1f-a09cca2c222d.css" />
    <link rel="stylesheet" href="/common/css/first-paint.css"  asp-append-version="true"/>

    <script src="/common/scripts/plugins/modernizr/modernizr.js" asp-append-version="true"></script>
    <script src="/common/scripts/plugins/picturefill.min.js" async asp-append-version="true"></script>
    <!--[if lte IE 8]>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <![endif]-->
    <!--[if gt IE 8]>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <![endif]-->
    <!--[if !IE]> -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <!-- <![endif]-->
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.13.1/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/mvc/5.1/jquery.validate.unobtrusive.min.js"></script>
}

@* TODO : PB TO check if this is needed *@
@* @RenderSection("Styles", required: false)
 *@
@Html.Raw(Model.SiteScripts?.HeadScripts)