<!DOCTYPE html>
<html lang="en">
<head>

        @await Component.InvokeAsync("Head")

</head>
<body class="">
    @await Component.InvokeAsync("BodyScripts", new { upperScripts = true })

    <a class="skip-to-content-link" href="#Main" tabindex="1">
        Skip to content
    </a>

    @await Component.InvokeAsync("PopUpBlock")
    @await Component.InvokeAsync("Header")
    @await Component.InvokeAsync("ScrollBarBlock")

    <div class="print-logo"><img src="~/common/images/logo-boi.svg" alt="Bank of Ireland" /></div>

    <main id="Main" class="main">
        @RenderBody()
    </main>

@*     <section class="unsupported-browser" id="unsupportedBrowser">
        <div class="unsupported-browser-inner">
            @Site.UnsupportedBrowserText
            <div class="unsupported-browser-close js-unsupported-browser-close">
                <svg class="[ icon icon-cross ]">
                    <title>Close</title>
                    <use xlink:href="#sprite-icon-cross"></use>
                </svg>
            </div>
        </div>
    </section>
 *@
    <a href="#" class="back-to-top" id="backToTop">
        Back to top
        <svg class="[ icon ]" aria-hidden="true">
            <use xlink:href="#sprite-icon-arrow-up"></use>
        </svg>
    </a>

    @Html.Partial("~/Views/Partials/Footer.cshtml")

    @* <link rel="stylesheet" href="@CacheBust.FingerPrint("/common/css/style.css")" /> *@

    @Html.Partial("BackgroundCss")

    @RenderSection("Scripts", required: false)
    @await Component.InvokeAsync("BodyScripts", new { upperScripts = false })
    @* @Html.Raw(pageScripts?.MiscScripts)
    @Html.Raw(pageScripts?.QualtricsSurveyEmbedCode) *@

    <script type="text/javascript" src="/App_Plugins/UmbracoForms/Assets/themes/default/umbracoForms.js"></script>

    @*@Html.Action("TrackingScripts", "Layout")*@

    <div class="svg-sprite" style="display: none">
        @Html.Partial("~/Views/Shared/SVG_Sprite.cshtml")
    </div>
</body>
</html>