<!DOCTYPE html>
<html lang="en">
<head>

        @await Component.InvokeAsync("Head")
@* 
    <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="63e5568e-57d0-4b35-a585-c153ce63def8" data-blockingmode="auto" type="text/javascript"></script>
    <link rel="preload" as="font" href="/common/fonts/BankofIrelandSerif-Rg.woff2" type="font/woff2" crossorigin="anonymous">
    <link rel="preload" as="font" href="/common/fonts/BankofIrelandSerif-Bd.woff2" type="font/woff2" crossorigin="anonymous">

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@(!string.IsNullOrEmpty(seo?.MetaDescription) ? seo?.MetaDescription : $"{Model.Name} | Bank of Ireland for Intermediaries ")" />

    <title>@((!string.IsNullOrEmpty(seo?.MetaTitle) ? seo?.MetaTitle : Model.Name) + " | Bank of Ireland for Intermediaries ")</title>

    @Html.Partial("~/Views/Shared/ShareCardMetaData.cshtml", Model)

    <link rel="canonical" href="@(!string.IsNullOrEmpty(seo?.CanonicalUrl) ? seo?.CanonicalUrl : Model.Url(mode: UrlMode.Absolute))" />

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload"
          href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
          as="style" />
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap"
          media="print" onload="this.media='all'" />

    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/common/images/icons/favicon/apple-touch-icon-57x57.png?v=IWE4SXqx4i" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/common/images/icons/favicon/apple-touch-icon-114x114.png?v=IWE4SXqx4i" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/common/images/icons/favicon/apple-touch-icon-72x72.png?v=IWE4SXqx4i" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/common/images/icons/favicon/apple-touch-icon-144x144.png?v=IWE4SXqx4i" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/common/images/icons/favicon/apple-touch-icon-60x60.png?v=IWE4SXqx4i" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/common/images/icons/favicon/apple-touch-icon-120x120.png?v=IWE4SXqx4i" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/common/images/icons/favicon/apple-touch-icon-76x76.png?v=IWE4SXqx4i" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/common/images/icons/favicon/apple-touch-icon-152x152.png?v=IWE4SXqx4i" />
    <link rel="icon" type="image/png" href="/common/images/icons/favicon/favicon-196x196.png?v=IWE4SXqx4i" sizes="196x196" />
    <link rel="icon" type="image/png" href="/common/images/icons/favicon/favicon-96x96.png?v=IWE4SXqx4i" sizes="96x96" />
    <link rel="icon" type="image/png" href="/common/images/icons/favicon/favicon-32x32.png?v=IWE4SXqx4i" sizes="32x32" />
    <link rel="icon" type="image/png" href="/common/images/icons/favicon/favicon-16x16.png?v=IWE4SXqx4i" sizes="16x16" />
    <link rel="icon" type="image/png" href="/common/images/icons/favicon/favicon-128.png?v=IWE4SXqx4i" sizes="128x128" />
    <link rel="shortcut icon" href="/common/images/icons/favicon/favicon.ico?v=JyBJRgA0Ag" type="image/x-icon">
    <meta name="msapplication-TileImage" content="/common/images/icons/favicon/mstile-144x144.png?v=IWE4SXqx4i" />
    <meta name="msapplication-square70x70logo" content="/common/images/icons/favicon/mstile-70x70.png?v=IWE4SXqx4i" />
    <meta name="msapplication-square150x150logo" content="/common/images/icons/favicon/mstile-150x150.png?v=IWE4SXqx4i" />
    <meta name="msapplication-wide310x150logo" content="/common/images/icons/favicon/mstile-310x150.png?v=IWE4SXqx4i" />
    <meta name="msapplication-square310x310logo" content="/common/images/icons/favicon/mstile-310x310.png?v=IWE4SXqx4i" />

    <link rel="manifest" href="/common/images/icons/favicon/manifest.json?v=IWE4SXqx4i">
    <meta name="application-name" content="Bank of Ireland for Intermediaries" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="theme-color" content="#FFFFFF">

    @RenderSection("Styles", required: false)

    @Html.Partial("~/Views/Shared/FirstPaint.cshtml")

    @Html.Raw(rootSettings?.HeadScripts) *@
</head>
<body class="">
    @* @Html.Raw(rootSettings?.BodyTopScripts)

    <a class="skip-to-content-link" href="#Main" tabindex="1">
        Skip to content
    </a>

    @Html.Partial("~/Views/Partials/BlockList/Components/PopUpBlock.cshtml")
    @Html.Partial("~/Views/Partials/Header.cshtml")
    @Html.Partial("~/Views/Partials/BlockList/Components/ScrollBarBlock.cshtml")

    <div class="print-logo"><img src="~/common/images/logo-boi.svg" alt="Bank of Ireland" /></div> *@

    <main id="Main" class="main">
        @RenderBody()
    </main>

    @* <section class="unsupported-browser" id="unsupportedBrowser">
        <div class="unsupported-browser-inner">
            @Site.UnsupportedBrowserText
            <div class="unsupported-browser-close js-unsupported-browser-close">
                <svg class="[ icon icon-cross ]">
                    <title>Close</title>
                    <use xlink:href="#sprite-icon-cross"></use>
                </svg>
            </div>
        </div>
    </section>

    <a href="#" class="back-to-top" id="backToTop">
        Back to top
        <svg class="[ icon ]" aria-hidden="true">
            <use xlink:href="#sprite-icon-arrow-up"></use>
        </svg>
    </a> *@

    @*@Html.Action("Footer", "Layout")*@
    @* @Html.Partial("~/Views/Partials/Footer.cshtml")

    <link rel="stylesheet" href="@CacheBust.FingerPrint("/common/css/style.css")" />

    @Html.Partial("BackgroundCss")

    @RenderSection("Scripts", required: false)
    @Html.Raw(rootSettings?.BodyBottomScripts)
    @Html.Raw(pageScripts?.MiscScripts)
    @Html.Raw(pageScripts?.QualtricsSurveyEmbedCode)

    <script type="text/javascript" src="/App_Plugins/UmbracoForms/Assets/themes/default/umbracoForms.js"></script> *@

    @*@Html.Action("TrackingScripts", "Layout")*@

   @*  <div class="svg-sprite" style="display: none">
        @Html.Partial("~/Views/Shared/SVG_Sprite.cshtml")
    </div> *@
</body>
</html>