@using Our.Umbraco.Meganav.Models
@model IMeganavItem

@if (Model.Children.Any())
{
    <ul>
        @foreach (var child in Model.Children)
        {

            <li class="submenu-item">
                <a href="@child.Url" title="@child.Url" @Html.Raw(child.Url == Model.Content.Url() ? "aria-current=\"page\"" : string.Empty)>@child.GetTitleOrName()</a>

                <partial name="ChildMegaNavItem" model="@child" />

            </li>
        }
    </ul>
}
